Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-return-braced-init-list,
  -modernize-pass-by-value,
  -performance-unnecessary-value-param,
  -readability-braces-around-statements,
  -readability-qualified-auto,
  -readability-magic-numbers,
  -readability-identifier-length,
  -bugprone-throwing-static-initialization,
  -performance-enum-size
WarningsAsErrors: ''
HeaderFilterRegex: 'include/iron_query/.*\.hpp'
